@font-face {
  font-family: 'Augillion';
  src: url(Augillion.otf);
}

/* .app {
  width: 100vw;
  height: 100vh;
} */

.header-title {
  font-family: 'Augillion';
  font-weight: 400;
  color: #89b19a;
  font-size: 3rem;
  padding: 2.3rem 1.2rem 1rem 2.3rem;
  margin: 0;
}

h1 {
  color: #403f43;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logout {
  background-color: white;
  border: none;
  margin: 0;
  margin-right: 2rem;
  font-size: 1.2rem;
  color: darkgray;
}

.logout:hover {
  cursor: pointer;
}

.outer {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}
