.sidebar {
  height: 100%;
  width: 250px;
  padding-left: 2rem;
}

.list {
  height: auto;
  padding: 0;
  width: 100%;
}

.list .item {
  width: 70%;
  /* height: 50px; */
  padding: 0.6rem 0;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: #1d70b8;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
}

.list .item:hover {
  cursor: pointer;
  /* background-color: #f3f2f1; */
  border-left: 4px solid #5694ca;
}

.list #active {
  background-color: #f3f2f1;
  font-weight: bold;
  border-left: 4px solid #1d70b8;
}

.item #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.item #title {
  flex: 70%;
}
