.outer-container {
  background-color: #f8f8f8;
  text-align: center;
  padding: 0.2rem;
  padding-bottom: 1rem;
  margin: 1rem;
  width: 25rem;
}

.primary,
.secondary {
  width: 2rem;
  height: 2rem;
}

.primary:hover {
  color: #89b19a;
  cursor: pointer;
}

.secondary {
  color: #89b19a;
}

.secondary:hover {
  cursor: pointer;
  color: red;
}
